<section class="base-modal user-modal">
  <header>
    <h1></h1>
  </header>
  <section class="clear-fix trip-bar">
      <header>
        <h1>Your Instagram Photos</h1>
      </header>
    </section>
<a class="btn btn-primary add-entry"><%= button_to "Add Photos to Journal", :action=>"add"%></a>
</section>





<div class="instagram-photos">
<% @images.each do |image| %>
		<img src="<%= image.uri %>"/>
<% end %>
</div>
